<?xml version="1.0"?>
<config>
    <modules>
        <Itembase_Plugin>
            <version>1.0.0</version>
        </Itembase_Plugin>
    </modules>
    <global>
        <blocks>
            <itembase>
                <class>Itembase_Plugin_Block</class>
            </itembase>
        </blocks>
        <helpers>
            <itembase_plugin>
                <class>Mage_Core_Helper</class>
            </itembase_plugin>
        </helpers>
    </global>
    <frontend>
       <routers>
          <itembase>
              <use>standard</use>
              <args>
                 <module>Itembase_Plugin</module>
                 <frontName>itembase</frontName>
              </args>
           </itembase>
       </routers>
       <layout>
            <updates>
                <itembase_plugin>
                    <file>itembase.xml</file>
                </itembase_plugin>                
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <itembase_plugin before="Mage_Adminhtml">Itembase_Plugin_Adminhtml</itembase_plugin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Itembase_Plugin>
                    <files>
                        <default>Itembase_Plugin.csv</default>
                    </files>
                </Itembase_Plugin>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <itembase_section translate="title">
                                            <title>Itembase</title>
                                            <sort_order>999</sort_order>
                                        </itembase_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                     </children>
                </admin>
            </resources>
         </acl>
    </adminhtml>
</config>
